<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @orientation.site %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @orientation.name %>
</p>


<%= link_to 'Back', orientation_path %>
