<p>
  <strong>Site:</strong>
  <%= @orientation.site.name %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @orientation.worker.full_name %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @orientation.valid_orientation? %>
</p>

<%= link_to 'Back', site_path(@orientation.site) %>
