<h1>Editing worker</h1>

<%= form_for @worker, as: :worker, url: worker_path(@worker) do |f| %>
<%= render 'form', f: f %>
<% end -%>

<%= link_to 'Show', "#{""}" %> |
<%= link_to 'Back', workers_path %>
